* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  width: 100vw;
  background: url('img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  dis
}

.logo {
  font-size: 2em;
  margin: 200px auto;
  border: none;
}

div {
  border: 3px solid black;
}
header {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.meny ul {
  list-style: none;
}
.meny li {
  text-align: center;
  display: inline-block;
  padding: 0px 5px;
}
.meny a {
  color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}
.thomas {
  margin-top: 100px;
  padding: 10px;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.obj1 .obj3 {
  flex: 1;
}
.obj2 {
  flex: 2;
}
