* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.background {
  height: 100vh;
  width: 100vw;
  background: url("img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  font-size: 2em;
  margin: 200px auto;
  border: none;
}
main {
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
}
div {
  border: 1px solid black;
}
header {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}
h2,
h3,
h4 {
  margin-top: 15px;
  margin-bottom: 25px;
}
p {
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
.meny ul {
  list-style: none;
}
.meny li {
  text-align: center;
  display: inline-block;
  padding: 0px 5px;
}
.meny a {
  color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}
.smallLogo {
  width: 40px;
  height: auto;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.obj1 {
  flex: 1;
  padding-top: 250px;
  padding-left: 40px;
  list-style-position: inside;
}
.obj2 {
  flex: 2;
}
.obj3 {
  flex: 1;
  padding-top: 250px;
  padding-left: 40px;
}
.text {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
}

.maps {
  width: 100%;
  height: auto;
}

footer {
  background-color: #222222;
  color: aliceblue;
  font-weight: 300;
  margin-top: 50px;
}
.fotHead {
  margin-left: 75px;

}
.container1 {
  display: flex;
  justify-content: space-evenly;
}
.fot1 {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25;
}
fot11 {
  flex: 1;
}
fot12 {
  flex: 2;
}
.fot2 {
  flex: 1;
  margin: 25px;
  padding-top: 80px;
}
.fot3 {
  flex: 1;
  margin: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 70px;
}