/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap"); */

body {
  font-family: "Montserrat", sans-serif;
  color: #35495e;
  background-color: #ecfcff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit; 
}

a:hover {
  text-decoration: none;
}

.background {
  height: 100vh;
  width: 100vw;
  /* background: url("img/altbackground.jpg");  */
  background-image: linear-gradient(
    to right top,
    #e4ffe0,
    #dbfff9,
    #e6ffff,
    #f7feff,
    #ffffff
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px; 
}

#books {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding-right: 20px;
}

.logo {
  font-size: 5em;
  font-weight: 900;
  margin: 50px 20% 0 20%;
  text-align: center;
  border: none;
}
.logo--text {
  margin: 2px 20% 0 20%;
  text-align: center;
  border: none;
  font-size: 1.2em;
  height: auto;
}
.logo--button {
  width: 140px;
  border-radius: 2%; 
  margin: 20px auto;
  padding: 20px;
  font-size: 1.2em;
  background: #3e64ff;
  display: block;
  text-align: center; 
  text-decoration: none;
  color: white;
  font-weight: 900;
}


main {
  /* border: 1px solid black; */
  width: 80%;
  margin-left: 10%;
}
div {
  /* border: 1px solid black; */
}
header {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}
h1,
h2,
h3,
h4 {
  margin-top: 15px;
  margin-bottom: 25px;
}
p {
  margin-bottom: 15px;
}
.center {
  text-align: center;
}

.meny {
  background-color: #145374;
  box-shadow: 2px 1px 10px #b1e8ed;
  height: 70px; 
  display: flex; 
  align-items: center;
}

.meny ul {
  list-style: none;
}
.meny li {
  text-align: center;
  display: inline-block;
  padding: 0px 5px;
}
.meny a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}
.bilde img {
  border-radius: 2%; 
  box-shadow: 2px 1px 10px #b1e8ed;
}

.bilde {
  width: 50%; 
}

.img-tekst {
  text-align: center;
  justify-content: center;
}
.smallLogo {
  width: 40px;
  height: 60px; 
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.obj1 {
  list-style-position: inside;
  height: 100%; 
  width: 30%; 
  margin: 60px 40px; 
}

.obj3{
  padding-top: 20px;
  padding-left: 40px;
  list-style-position: inside;
  line-height: 30px;
  width: 50%; 
}

.andreas {
  margin-top: 100px; 
  text-align: center; 
}

.text {
  width: 40%;
  /* margin-right: 10%;  */
}

.text h3 {
  margin-top: 0px; 
}

.maps {
  width: 100%;
  height: auto;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 150px; 
}

footer {
  width: 100%; 
  height: 150px; 
  margin-top: 100px; 
  background-color: #132743;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white; 
  flex-wrap: wrap;
}

.fotItem {
  margin: 0 50px; 
}

.fotItem p {
  margin: 0; 
}

i {
  font-size: 3rem;
  margin: 0 10px; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 70px;
}

.kjopes {
  background-color: #202040; 
  border-radius: 4%; 
  color: white;
  width: 250px; 
  height: 350px; 
  margin: 15px 15px; 
  text-align: center; 
  box-shadow: 2px 1px 10px #b1e8ed;
}

.leggIHandlekurv {
  width: 60%; 
  height: 60px; 
  margin: 50px auto; 
  background-color: #f45905;
  border-radius: 2%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  color: #132743;
}

.indexContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px; 
}

.kartH1 {
  margin-top: 50px; 
  text-align: center;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .indexContainer {
    flex-direction: column; 
  }

  .container {
    flex-direction: column;
    margin: 0 auto; 
  }
}