* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  width: 100vw;
  background: url("img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 2em;
  margin: 200px auto;
  border: none;
}
main {
  border: 1px solid black;
}
div {
  border: 1px solid black;
}
header {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  width: 80%;
  margin-left: 10%;
}
.meny ul {
  list-style: none;
}
.meny li {
  text-align: center;
  display: inline-block;
  padding: 0px 5px;
}
.meny a {
  color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.obj1 {
  flex: 1;
  padding-top: 250px;
  text-align: center;
  list-style-position: inside;
}
.obj2 {
  flex: 2;
}
.obj3 {
  flex: 1;
  padding-top: 250px;
  text-align: center;
}
.text {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.maps {
  width: 550px;
  height: auto;
  margin-left: 25px;
}
